.receiver {
    padding: 10px 0px;
    max-width:350px;
}
.receiver .row {
    padding-top: 10px;
    padding-bottom: 4px;
}
input.volume {
    width: 100%;
}
.vol-icon {
    font-size:1.15rem;
}
.volume-container {
    padding-left: 20px !important;
    padding-right: 25px !important;
}
.bt-discoverable {
    color: #0d6efd;
    -webkit-animation: blink 2s infinite both;
            animation: blink 2s infinite both;
}
@-webkit-keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.svg-button:hover {
    cursor:pointer;
}
